@charset "UTF-8";
/*version inférieure à 320 px*/
/*communs*/
body {
  box-sizing: border-box;
  font-family: "roboto";
  margin: 0px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 300;
}

p {
  font-size: 20px;
  font-weight: 300;
}

/* loading spinner*/
.accueil {
  height: 100%;
  width: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #99e2d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.loader_lettre {
  color: #484848;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  -webkit-animation: flash 1s ease infinite;
          animation: flash 1s ease infinite;
}
.loader_lettre--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loader_lettre--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader_lettre--3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loader_lettre--4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader_lettre--5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loader_lettre--6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loader_lettre--7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.loader_lettre--8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loader_lettre--9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.loader_lettre--10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}
.loader {
  -webkit-animation: loader 3s;
          animation: loader 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
  0%, 20%, 30%, 40%, 50%, 60% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0%, 20%, 30%, 40%, 50%, 60% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
/* header */
.header_top {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0px 20px 0px;
  background-color: white;
}

.input_container {
  transform: translateY(-25%);
}
.input_container input {
  
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: black;
  background-color: rgba(236, 230, 230, 0.979);
  border-style: none;
  border-color: transparent;
  box-shadow: 0px 4px 5px rgba(189, 186, 186, 0.979) inset;
  height: 60px;
}
.input_container input::-moz-placeholder {
  color: black;
  opacity: 0.7;
}
.input_container input:-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}
.input_container input::placeholder {
  color: black;
  opacity: 0.7;
}

.input_container i {
  transform: translate(50%, 200%); 
  font-size: 20px;
  padding-left: 20px;
  opacity: 0.7;
}

/* CTA */
.cta {
  margin: 0 3% 0 3%;
  text-align: center;
  background-color: rgba(247, 244, 244, 0.979);
  padding-bottom: 50px;
  padding-top: 15px;
}

.cta_btn input {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px rgba(236, 230, 230, 0.979);
  border-radius: 27px;
  border-style: none;
  border-color: #9356DC;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  margin: 15px;
}
.cta_btn input:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 5px 5px 5px rgba(214, 201, 201, 0.979);
}

/*  section FONCTIONNEMENT */
.fonctionnement {
  padding-top: 40px;
  padding-bottom: 70px;
  padding-left: 3%;
  background-color: white;
}
.fonctionnement .fonctionnement_etape {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 15px;
}
.fonctionnement .fonctionnement_etape .fonctionnement_etape--numero {
  width: 4%;
  position: absolute;
  z-index: 1;
}
.fonctionnement .fonctionnement_etape .fonctionnement_etape--numero p {
  border: 1px #9356DC solid;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.fonctionnement .fonctionnement_etape .fonctionnement_etape--txt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px transparent solid;
  border-radius: 25px;
  box-shadow: 5px 7px 10px rgba(214, 201, 201, 0.979);
  padding: 0px 10px 0px 10px;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: rgba(247, 244, 244, 0.979);
  position: relative;
  top: 6px;
}
.fonctionnement .fonctionnement_etape .fonctionnement_etape--txt:hover {
  background-color: rgba(255, 255, 255, 0.979);
  box-shadow: 7px 9px 10px rgba(170, 143, 143, 0.979);
}

.fonctionnement_etape:nth-child(-1n+3) i {
  color: rgba(148, 114, 114, 0.979);
  font-size: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

.fonctionnement_etape:nth-child(2) i{
  width: 26px;
  padding-left: 27px;}


.fonctionnement_etape:nth-child(4) i {
  color: #9356DC;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

/* Section Restaurants  */
.restaurants {
  background-color: rgba(247, 244, 244, 0.979);
}
.restaurants h2 {
  padding: 25px 0px 0px 20px;
  padding-left: 5%;
}

.restaurant_carte {
  width: 90%;
  min-width: 300px;
  height: 310px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 22px;
  box-shadow: 5px 7px 5px rgba(214, 201, 201, 0.979);
}
.restaurant_carte a {
  text-decoration: none;
  color: black;
}

.restaurant_carte--img {
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.restaurant_carte--img img {
  width: 100%;
  height: 230px;
  position: absolute;
  top: 1%;
  left: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}
.restaurant_carte--img h3 {
  color: #4acbab;
  border: 1px transparent solid;
  background-color: #99e2d0;
  padding: 2px 7px 2px 7px;
  position: absolute;
  left: 65%;
  top: 6%;
}

.restaurant_carte--corps {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  border-radius: 0px 0px 30px 30px;
  line-height: 12px;
}
.restaurant_carte--corps .carte_corps--txt {
  line-height: 8px;
  padding-left: 20px;
}
.restaurant_carte--corps .carte_corps--txt h3 {
  margin-bottom: 10px;
}
.restaurant_carte--corps .carte_corps--txt p {
  font-size: 17px;
}
.restaurant_carte--corps .carte_corps--coeur {
  padding-right: 5%;
  position: relative;
  top: 20px;
  z-index: 1;
  color: black;
  font-size: 25px;
}
.restaurant_carte--corps .carte_corps--coeur:hover i:last-child {
  opacity: 1;
}
.restaurant_carte--corps .carte_corps--coeur:hover i:first-child {
  opacity: 0;
}

.carte_corps--coeur i:first-child {
  opacity: 1;
  transition: opacity 1s;
}
.carte_corps--coeur i:last-child {
  position: absolute;
  top: 0;
  right: 45%;
  z-index: -1;
  color: #FF79DA;
  font-weight: bold;
  opacity: 0;
  transition: opacity 2s;
}

/* FOOTER*/
footer {
  background-color: rgba(62, 47, 47, 0.979);
  margin-top: 80px;
}
footer a {
  text-decoration: none;
}
footer i {
  font-size: 20px;
  padding-right: 0px;
}
footer img {
  margin: 35px 0px 0px 40px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
footer ul {
  line-height: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
}
footer ul li h4:nth-child(2) {
  margin-left: 15px;
}

li:nth-child(4) {
  padding-bottom: 25px;
}

/*PAGE 1 RESTAURANT A LA FRANCAISE*/
.header_toppage {
  margin-bottom: 20px;
  display: flex;
  padding-top: 20px;
}
.header_toppage img {
  display: block;
  margin:auto;
}
.header_toppage i {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-left:11px;
}

body {
  background-color: rgba(247, 244, 244, 0.979);
}

.header_presentation {
  position: relative;
}
.header_presentation img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation_txt {
  width: 99%;
  background-color: rgba(247, 244, 244, 0.979);
  border: 1px transparent solid;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(247, 244, 244, 0.979);
  display: flex;
  justify-content: space-between;
  padding: 25px 5px 25px 5px;
  position: absolute;
  top: 85%;
}
.presentation_txt .coeur {
  width: 15%;
}
.presentation_txt .coeur i {
  padding-right: 20px;
  font-size: 20px;
  font-weight: normal;
    
}
.presentation_txt .coeur:hover i:last-child {
  opacity: 1;
}
.presentation_txt .coeur:hover i:first-child {
  opacity: 0;
}

.presentation_txt .coeur i:first-child {
  opacity: 1;
  transition: opacity 1s;
  transform:translateY(15%);
}
.presentation_txt .coeur i:last-child {
  transform: translateY(-85%);
  color: #FF79DA;
  font-weight: bold;
  opacity: 0;
  transition: opacity 2s;
}


.restaurant_nom {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 300;
  padding-left: 3%;
}

/* Menu : animation */
article {
  opacity: 0;
  -webkit-animation: apparition 1.2s;
          animation: apparition 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
article:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

article:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

article:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

article:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

article:nth-child(5) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

article:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

article:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

article:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

article:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

article:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/*fin de l'animation----*/
.plat_entrees, .plat_plats, .plat_desserts {
  padding-top: 40px;
}

.entrees_titre, .plats_titre, .desserts_titre {
  margin-bottom: 40px;
  margin-top: 70px;
  margin-left: 4%;
  border-bottom: 3px #99e2d0 solid;
  width: 45px;
  font-weight: 300;
}

.menu {
  background-color: rgba(247, 244, 244, 0.979);
}
.menu article {
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 20px;
}
.menu article .visible {
  width: 100%;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article .visible .plat_titre {
  margin-bottom: 6px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article .visible .plat_details {
  display: flex;
  justify-content: space-between;
}
.menu article .visible .plat_details p {
  margin: 0px 0 15px 0;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article .visible .plat_details h3 {
  margin-top: 0px;
}

/*animation check*/
article .check {
  transform: translateX(50%);
  opacity:0;
  transform-origin: right;
  transition: all 1s  ease-in-out;
  width: 0%;
  max-width: 80px;
  min-width: 50px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article .check .img_v {
  border-radius: 23px;
  background-color: white;
  width: 25px;
  height: 25px;
  padding: 5px 4px 5px 4px;
  margin: auto;
  opacity:0;
  
  transform: rotate(0deg);
  transition: transform 1.3s 0.2s;
}
article:hover .img_v {
  transform: rotate(720deg);
  opacity:1;
}
article:hover .check {
  transform: translateX(0px);  
  width:100%;
  opacity:1;
}

article:hover .visible{
  width:92%;
}

/*background-color:$tendre;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
margin-right: 0px;
justify-content:center;
align-items:center;
z-index:10;
color:white;
font-size:22px;
flex-wrap:wrap;
width:0%;
transition:0.5s ease;*/
/*animation des plats_version d essai 2

article:nth-child(2){
    display:flex;
    justify-content:space-between;
    padding-right:0;
    &:hover .check{
        transform:translateX(0%);


    }}






 .check{
    transform:translateX(1000%);
    transition:2s ease-in-out;
    transition:2s ease;
    background-color:$tendre;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 0px;
    text-align:center;
    width:100px;
    z-index:3;
    i{color:white;
        position:absolute;
        top:25%;
        right:20%;

        }
 }
*/
/*animation des plats : ma version qui a marché, puis n'a plus marché

.plat_rond{
    display:flex;
    justify-content:space-between;}

.rond{
    width:40px;
    height:40px;
    border: 5px solid white;
    border-radius:50px;
    transform:translate(0%, 0%);
    transition:700ms ease-in-out;

     img{
        position:relative;
        top:8px;
        left:4px;
        transform:rotate(0deg);
        transition:2s ease;} 
    }


article{
    border-right: 0 solid transparent; 
    transition:700ms ease-in-out;
    &:active{
      border-right:100px solid $tendre;       
    }
    &:active .rond{
        transform:translate(200%,60%);}


    &:active .rond>img{
        transform:rotate(720deg);}


    }



fin de l'animation des plats*/
.restaurant_CTA {
  text-align: center;
  margin: 30px 0px 30px 0px;
  background-color: rgba(247, 244, 244, 0.979);
}
.restaurant_CTA input {
  padding: 0px 35px 0px 35px;
}

/*VERSION SMARTPHONE*/
@media screen and (min-width: 320px) {
  .input_container i {
    transform: translate(160%, 200%); 
    font-size: 20px;
    padding-left: 20px;
    opacity: 0.7;
  }

  /*Version smartphone PAGE1*/
  .presentation_txt {
    width: 99%;
    background-color: rgba(247, 244, 244, 0.979);
    border: 1px transparent solid;
    border-radius: 30px;
    margin: auto;
    background-color: rgba(247, 244, 244, 0.979);
    display: flex;
    justify-content: space-between;
    padding: 25px 5px 25px 5px;
    position: absolute;
    top: 85%;
  }
  .presentation_txt .coeur {
    width: 15%;
  }
  .presentation_txt .coeur i {
    padding-right: 45px;
    font-size: 30px;
    
    
  }
  .presentation_txt .coeur:hover i:last-child {
    opacity: 1;
  }
  .presentation_txt .coeur:hover i:first-child {
    opacity: 0;
  }

  .presentation_txt {
    border-radius: 38px;
  }
  .presentation_txt .restaurant_nom {
    font-family: Shrikhand;
    font-size: 32px;
    font-weight: 600;
    padding-left: 5%;
  }
  .presentation_txt .coeur i:first-child {
    opacity: 1;
    transition: opacity 1s;
    transform: translateY(15%);
  }
  .presentation_txt .coeur i:last-child {
    font-weight: bold;
    color:#FF79DA;
    opacity: 0;
    transition: opacity 2s;
    transform: translateY(-85%);
  }
}
/*   VERSION TABLETTE  */
@media screen and (min-width: 600px) {
  /* loading spinner*/
  .accueil {
    height: 100%;
    width: 100%;
  }

  .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #99e2d0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .loader_lettre {
    color: #484848;
    font-size: 60px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
  }
  .loader_lettre--1 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .loader_lettre--2 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .loader_lettre--3 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .loader_lettre--4 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .loader_lettre--5 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .loader_lettre--6 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .loader_lettre--7 {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .loader_lettre--8 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .loader_lettre--9 {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .loader_lettre--10 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  @-webkit-keyframes flash {
    0% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
  }

  @keyframes flash {
    0% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
  }
  .loader {
    opacity: 1;
    transition: opacity 3s;
  }
  .loader:hover {
    opacity: 0;
  }

  .header_top {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 80px 0px;
    background-color: white;
  }
  .header_top img {
    transform: scale(2);
  }

  .input_container {
    transform: translateY(-25%);
    width: 40%;
    margin: auto;
  }

  .input_container input {
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    border-color: rgba(236, 230, 230, 0.979);
    border-top: 4px rgba(236, 230, 230, 0.979) solid;
    height: 60px;
    box-shadow: 0px 4px 5px rgba(189, 186, 186, 0.979);
  }

  .input_container > i {
    transform: translate(-20%, 220%); 
    padding-left: 20%;
  }

  .fonctionnement_etape {
    width: 400px;
    margin: auto;
  }

  .fonctionnement h2, .restaurants h2 {
    margin-left: 40%;
    margin-bottom: 50px;
  }

  .conteneur_restaurants {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant_carte {
    max-width: 450px;
  }

  /* VERSION TABLETTE____PAGE1   */
  .header_toppage {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .header_toppage a{
    margin-left:15%;}

  .header_toppage i {
    font-size: 35px;
    top: 9%;
   left:15%;
  }
  .header_toppage img {
    transform: scale(1.2);
    margin-left:20%;
  }

  .header_presentation {
    position: relative;
    max-width: 610px;
    margin: auto;
  }
  .header_presentation .presentation_txt {
    width: 99%;
    background-color: rgba(247, 244, 244, 0.979);
    border: 5px white solid;
    border-radius: 50px;
    margin: auto;
    background-color: rgba(247, 244, 244, 0.979);
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 0px 5px;
    position: absolute;
    top: 85%;
  }
  .header_presentation .presentation_txt .restaurant_nom {
    font-family: Shrikhand;
    font-size: 45px;
    font-weight: 600;
    padding-left: 4%;
  }
  .header_presentation .presentation_txt .coeur {
    width: 15%;
  }
  .header_presentation .presentation_txt .coeur i {
    padding-right: 45px;
    font-size: 50px;
    font-weight: normal;
    
  }
  .header_presentation .presentation_txt .coeur:hover i:last-child {
    opacity: 1;
  }
  .header_presentation .presentation_txt .coeur:hover i:first-child {
    opacity: 0;
  }

  .presentation_txt .coeur i:first-child {
    opacity: 1;
    transition: opacity 1s;
    transform: translateY(15%);
  }
  .presentation_txt .coeur i:last-child {
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s;
    color:#FF79DA;
    transform: translateY(-85%);
  }

  .plat_entrees {
    padding-top: 60px;
  }

  .menu article {
    max-width: 800px;
    margin: auto;
    margin-bottom: 5%;
  }

  .menu article .visible .plat_titre{
  font-size:22px;
  }

  .entrees_titre, .plats_titre, .desserts_titre {
    margin-left: 15%;
  }

  .restaurant_CTA {
    margin-bottom: 150px;
    margin-top: 50px;
  }
  .restaurant_CTA input {
    transform: scale(1.3);
  }
}
/*VERSION DESKTOP */
@media (min-width: 992px) {
  /* loading spinner*/
  .accueil {
    height: 100%;
    width: 100%;
  }

  .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #99e2d0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .loader_lettre {
    color: #484848;
    font-size: 88px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
  }
  .loader_lettre--1 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .loader_lettre--2 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .loader_lettre--3 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .loader_lettre--4 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .loader_lettre--5 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .loader_lettre--6 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .loader_lettre--7 {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .loader_lettre--8 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .loader_lettre--9 {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .loader_lettre--10 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  @-webkit-keyframes flash {
    0% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
  }

  @keyframes flash {
    0% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #FF79DA;
      text-shadow: 0 0 7px #FF79DA;
    }
  }
  .loader {
    opacity: 1;
    transition: opacity 3s;
  }
  .loader:hover {
    opacity: 0;
  }

  .input_container > i {
    transform: translate(20%, 220%); 
    padding-left: 20%;
  }


  :µ page 1 */

  .header_toppage a{
    margin-left:20%;}

  .header_toppage i {
    font-size: 40px;
    top: 9%;
   left:35%;
  }
}/*# sourceMappingURL=style.css.map */